<script>
	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();

	export let tags = [];

	function handleCalciteChange(e){
		console.log("comboboxchanged", typeof(e.target.value), e.target.value);
		// e.target.value can be either a string or array. Let's make it uniform before appending in tags.

		let tagArray;
		if(typeof(e.target.value) === "string") {
			tagArray = (e.target.value === "" ? [] : [e.target.value]);
		} else if(!e.target.value) {
			tagArray = [];
		} else {
			tagArray = e.target.value;
		}
		
		dispatch("tagschanged", { value: tagArray });
	}
</script>

<calcite-combobox 
	label="Tags"
	allow-custom-values 
	placeholder="Add/remove tags using Tab/Backspace key"
	on:calciteComboboxChange={handleCalciteChange}
>
	{#each tags as tag (tag)}
    <calcite-combobox-item selected value={tag} text-label={tag}></calcite-combobox-item>
	{/each}
</calcite-combobox>

